body{
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
    background-color: hsl(0, 0%, 29%);

	background-color: #2F3C7E;
    color: #FBEAEB;
}


body{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title {
    color: #FBEAEB;
    text-align: center;
    font-size: 60px;
    margin-top: 3%;
}
ß
.display {
    color: #FBEAEB;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

#container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid #FBEAEB;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}


.playerX {
    color: #ffaa00;
}

.playerO {
    color: #009b34;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: #FBEAEB;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #ff9100;
}

.center{
    padding: 40vh 0;
    text-align: center;
    font-size: 40px;
}
